### This notebook runs a hugging face NLP sentiment model on the relevant AirBnB reviews for this analysis 
### LA, Studio or 1BR, Minimum Length of Stay 28 days

In [4]:
import pandas as pd

In [4]:
data = pd.read_csv('listings.csv')
reviews = pd.read_csv('reviews.csv')

In [24]:
data.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,183319,https://www.airbnb.com/rooms/183319,20220909140055,2022-09-10,previous scrape,Panoramic Ocean View Venice Beach,Craftsmen style penthouse with ocean view from...,About as close to the beach as you can live in...,https://a0.muscache.com/pictures/1170205/e2596...,867995,...,5.00,5.00,5.00,NaN,f,2,2,0,0,0.02
1,51307,https://www.airbnb.com/rooms/51307,20220909140055,2022-09-10,city scrape,Spanish Bungalow Guest House LA CA. 30 plus ni...,PRIVATE GUEST HOUSE<br /><br /><b>The space</b...,"Local LA Community , shops and restaurants in...",https://a0.muscache.com/pictures/294658/ac8d6e...,235568,...,4.85,4.95,4.76,NaN,f,2,2,0,0,0.98
2,184314,https://www.airbnb.com/rooms/184314,20220909140055,2022-09-10,previous scrape,Boho Chic Flat..Steps to Beach!,"Bright, airy, quiet 1 bdr located just steps f...",You are in one of the beach locations in Los A...,https://a0.muscache.com/pictures/0bc2f8b7-9378...,884031,...,4.93,4.89,4.85,NaN,t,1,1,0,0,0.22
3,51498,https://www.airbnb.com/rooms/51498,20220909140055,2022-09-10,city scrape,Guest House With Its Own Entrance/Exit and Hot...,"Fully self-contained, separate structure, with...",We are close to Venice without the hassle of n...,https://a0.muscache.com/pictures/83426633/c9e3...,236758,...,4.90,4.83,4.74,HSR19-001336,f,1,1,0,0,2.60
4,109,https://www.airbnb.com/rooms/109,20220909140055,2022-09-10,city scrape,Amazing bright elegant condo park front *UPGRA...,"*** Unit upgraded with new bamboo flooring, br...",NaN,https://a0.muscache.com/pictures/4321499/1da98...,521,...,4.00,5.00,4.00,NaN,f,1,1,0,0,0.01

In [25]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,109,449036,2011-08-15,927861,Edwin,The host canceled my reservation the day befor...
1,109,74506539,2016-05-15,22509885,Jenn,Me and two friends stayed for four and a half ...
2,2708,13994902,2014-06-09,10905424,Kuberan,i had a wonderful stay. Everything from start ...
3,183319,988343,2012-03-11,1219947,Gabriella,"very nice and cozy apartment, well located in ..."
4,183319,184002210,2017-08-18,70046039,Yan,We loved the experience. The location couldn't...

In [46]:
filter_data = data[data['minimum_nights'] >= 28]

In [47]:
filter_data = filter_data[filter_data['last_review'] > '2022-01-01']

In [48]:
len(filter_data)

8066

In [53]:
filter_reviews = reviews[reviews['date'] > '2020-01-01']

In [54]:
len(filter_reviews)

835264

In [55]:
filter_reviews = filter_reviews[filter_reviews['listing_id'].isin(filter_data['id'])]

In [56]:
len(filter_reviews)

91845

In [57]:
filter_reviews['comments'] = filter_reviews['comments'].astype(str)

In [58]:
filter_reviews['review_short'] = filter_reviews['comments'].str.slice(0,511)

In [59]:
filter_reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments,review_short
58,185536,635562139,2020-07-06,339452635,Arya,Cancelled reservation early because house was ...,Cancelled reservation early because house was ...
59,185536,713495683,2020-12-05,325039109,Daryl,"Laura is kind, thoughtful, and hospitable. The...","Laura is kind, thoughtful, and hospitable. The..."
60,185536,566003551605243289,2022-02-19,436519389,Renee,"Laura is a nice person, I enjoyed staying ther...","Laura is a nice person, I enjoyed staying ther..."
97,2708,619302203,2020-03-17,117823684,Nathan,Location is decent (near some great music stor...,Location is decent (near some great music stor...
121,2708,632352136,2020-06-26,275399037,Tom,Charles was not only a gracious and accommodat...,Charles was not only a gracious and accommodat...

In [60]:
filter_reviews.dropna()

,listing_id,id,date,reviewer_id,reviewer_name,comments,review_short
58,185536,635562139,2020-07-06,339452635,Arya,Cancelled reservation early because house was ...,Cancelled reservation early because house was ...
59,185536,713495683,2020-12-05,325039109,Daryl,"Laura is kind, thoughtful, and hospitable. The...","Laura is kind, thoughtful, and hospitable. The..."
60,185536,566003551605243289,2022-02-19,436519389,Renee,"Laura is a nice person, I enjoyed staying ther...","Laura is a nice person, I enjoyed staying ther..."
97,2708,619302203,2020-03-17,117823684,Nathan,Location is decent (near some great music stor...,Location is decent (near some great music stor...
121,2708,632352136,2020-06-26,275399037,Tom,Charles was not only a gracious and accommodat...,Charles was not only a gracious and accommodat...
...,...,...,...,...,...,...,...
1612394,35885839,529753992226184121,2021-12-31,141430565,Xiaoxiao,The owner is very responsive. Descriptions are...,The owner is very responsive. Descriptions are...
1612395,35885839,559500943179290759,2022-02-10,175841472,Emilie,We enjoyed our stay. The location is perfect n...,We enjoyed our stay. The location is perfect n...
1612396,35885839,676122609519273306,2022-07-21,237938623,Eric,DESPITE NO A/C HAD A GREAT STAY WITH THE FAN O...,DESPITE NO A/C HAD A GREAT STAY WITH THE FAN O...
1612397,35885839,677625291931035513,2022-07-23,410293060,Mike,Great location for walking to the beach and cl...,Great location for walking to the beach and cl...
1612398,35885839,680537167667575925,2022-07-27,15276630,Gene,Met our needs and close to everything. Would r...,Met our needs and close to everything. Would r...

In [1]:
from transformers import pipeline

In [12]:
sentiment_pipeline = pipeline(model='Shunian/yelp_review_rating_reberta_base')

Downloading:   0%|          | 0.00/1.08k [00:00<?, ?B/s]

c:\users\anees\appdata\local\programs\python\python37\lib\site-packages\huggingface_hub\file_download.py:123: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\anees\.cache\huggingface\hub. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to see activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

Downloading:   0%|          | 0.00/3.86k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/499M [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/347 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/213k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/669k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/125 [00:00<?, ?B/s]

In [ ]:
#sentiment_pipeline = pipeline(model='nlptown/bert-base-multilingual-uncased-sentiment')

In [61]:
sentiment_output = sentiment_pipeline(filter_reviews['review_short'].tolist())

In [66]:
sent_output_df = pd.DataFrame(sentiment_output)

In [67]:
sent_output_df.to_csv('model_output_2.csv')

In [69]:
len(sent_output_df)

91845

In [70]:
sent_output_df['score'].mean()

0.723444256344834

In [71]:
sent_output_df_2 = pd.read_csv('sentiment_test.csv')

In [73]:
sent_output_df_2['score'].mean()

0.7125637526359831

In [74]:
sent_output_df['label'].value_counts(normalize = True)

LABEL_4    0.622135
LABEL_3    0.288617
LABEL_2    0.049812
LABEL_0    0.025456
LABEL_1    0.013980
Name: label, dtype: float64

In [75]:
sent_output_df_2['label'].value_counts(normalize = True)

5 stars    0.770737
4 stars    0.179298
3 stars    0.025867
2 stars    0.014311
1 star     0.009787
Name: label, dtype: float64

In [77]:
filter_reviews['sentiment_score'] = sent_output_df['label'].values

In [79]:
filter_reviews['sentiment_score'] = filter_reviews['sentiment_score'].str[6]

In [83]:
filter_reviews['sentiment_score'] = filter_reviews['sentiment_score'].astype(str).astype(int) + 1

In [84]:
filter_reviews

,listing_id,id,date,reviewer_id,reviewer_name,comments,review_short,sentiment_score
58,185536,635562139,2020-07-06,339452635,Arya,Cancelled reservation early because house was ...,Cancelled reservation early because house was ...,3
59,185536,713495683,2020-12-05,325039109,Daryl,"Laura is kind, thoughtful, and hospitable. The...","Laura is kind, thoughtful, and hospitable. The...",4
60,185536,566003551605243289,2022-02-19,436519389,Renee,"Laura is a nice person, I enjoyed staying ther...","Laura is a nice person, I enjoyed staying ther...",3
97,2708,619302203,2020-03-17,117823684,Nathan,Location is decent (near some great music stor...,Location is decent (near some great music stor...,3
121,2708,632352136,2020-06-26,275399037,Tom,Charles was not only a gracious and accommodat...,Charles was not only a gracious and accommodat...,5
...,...,...,...,...,...,...,...,...
1612394,35885839,529753992226184121,2021-12-31,141430565,Xiaoxiao,The owner is very responsive. Descriptions are...,The owner is very responsive. Descriptions are...,4
1612395,35885839,559500943179290759,2022-02-10,175841472,Emilie,We enjoyed our stay. The location is perfect n...,We enjoyed our stay. The location is perfect n...,4
1612396,35885839,676122609519273306,2022-07-21,237938623,Eric,DESPITE NO A/C HAD A GREAT STAY WITH THE FAN O...,DESPITE NO A/C HAD A GREAT STAY WITH THE FAN O...,1
1612397,35885839,677625291931035513,2022-07-23,410293060,Mike,Great location for walking to the beach and cl...,Great location for walking to the beach and cl...,4
1612398,35885839,680537167667575925,2022-07-27,15276630,Gene,Met our needs and close to everything. Would r...,Met our needs and close to everything. Would r...,4

In [85]:
mean_sentiment = filter_reviews.groupby(['listing_id']).mean()

In [86]:
mean_sentiment

                              id   reviewer_id  sentiment_score
listing_id
2708                2.831920e+17  1.854303e+08         4.500000
5728                2.984638e+17  1.287915e+08         4.857143
5729                2.290455e+17  1.445840e+08         4.647059
5891                5.949722e+17  1.128658e+06         5.000000
6931                1.753773e+17  1.642781e+08         4.333333
...                          ...           ...              ...
698476341362314202  7.001122e+17  3.315763e+08         5.000000
700675214582872697  7.087588e+17  4.073924e+08         5.000000
700702603482599622  7.066415e+17  1.430641e+07         4.500000
705222833760774158  7.065525e+17  1.025091e+08         5.000000
706001187192766322  7.073103e+17  3.940383e+08         5.000000

[8066 rows x 3 columns]

In [87]:
mean_sentiment.to_csv('avg_sentiment_by_listing.csv')